<% if user_signed_in? %>

    <% unless post.like_user(current_user.id).blank? %>
        <div class="vertical_like">
            <%= link_to post_like_path(post_id: post.id, id: post.likes[0].id), method: :delete, remote: true do %>
                    <i class="fas fa-heart"></i>
            <% end %>
            <% if post.liked_users.size > 0 %>
                <label for="triggery">
                    <%= post.liked_users.size %>件のいいね
                </label>
            <% end %>
        </div>
    <% else %>
        <div class="vertical_like">
            <%= link_to post_likes_path(post.id), method: :post, remote: true do %>
                <i class="far fa-heart"></i>
            <% end %>
            <% if post.liked_users.size > 0 %>
                <label for="triggery">
                    <%= post.liked_users.size %>件のいいね
                </label>
            <% end %>
        </div>
    <% end %>

<% else %>

    <% if post.liked_users.size > 0 %>
        <div class="vertical-icons">
            <i class="far fa-heart"></i>
        </div>
    <% else %>
        <div class="vertical-icons">
            <i class="far fa-heart"></i>
        </div>
    <% end %>

<% end %>

