/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require select2
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content:"";
    display: block;
    clear: both;
}

#vmap{
    margin: 0 auto;
    width: 100%;
    height: 720px;
}
header{
	color:rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
}
ul{
    list-style: none;
}
.logo{
    border-radius: 20%;
}
.navbar-right a {
	text-decoration: none;
	color: black;
}
.navbar-right p {
	font-size: 11px;
	line-height: 100%;
}
.header-item {
	text-align: center;
}
.header-icon{
	font-size:25px;
}
#body{
    margin-top:120px;
}
.bodysignup{
    margin-top:120px;
}


// infinietscroll
.pagination{
    display: none;
}



//  モーダル
.modal_wrap input{
    display: none;
}
.modal_overlay{
    display: flex;
    justify-content: center;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    opacity: 0;
    transition: opacity 0.5s, transform 0s 0.5s;
    transform: scale(0);
}

.modal_trigger{
    position: absolute;
    width: 100%;
    height: 100%;
}

.modal_content{
    display: block;
    align-self: center;
    width: 60%;
    max-width: 800px;
    padding: 30px 30px 15px;
    box-sizing: border-box;
    background: #fff;
    line-height: 1.4em;
    transform: scale(1.2);
    transition: 0.5s;
}

.close_button{
    position: absolute;
    top: 14px;
    right: 16px;
    font-size: 24px;
    cursor: pointer;
}

.modal_wrap input:checked ~ .modal_overlay{
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s;
}

.modal_wrap input:checked ~ .modal_overlay .modal_content{
    transform: scale(1);
}
