// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bodypost{
    margin-top:120px;
}
.post{
    width: 320px;
    display: inline-flex;
    margin: 10px 20px;
    flex-direction: column;
    justify-content: space-around;
}

.post-user-info{
    display: block;
    padding: 2px;
}