// Place all the styles related to the roots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bodymap{
    margin-top: 120px;
}
#vmap{
    width: 100%;
    height: 740px;
    display: cover;
}

#topbody{
    width: 100%;
    height: auto;
}

.top-container{
    display: block;
    position: absolute;
    right: 100px;
    bottom: 110px;
    text-align: right;
}
.top-headline{
    color: rgba(255, 255, 255, 0.8)
}
.top-container a{
    color: rgba(255, 255, 255, 0.6);
}
.top-container a:hover{
    color: rgb(255, 255, 255);
}