// Place all the styles related to the roots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bodymap{
    margin-top: 110px;
}
#vmap{
    width: 100%;
    height: 740px;
    display: cover;
}

.jumbotron{
    height: 886px;
    background: url(img/trip2.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
