// Place all the styles related to the roots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#vmap{
    width: 100%;
    height: 740px;
    display: cover;
}

.bodytop{
    display: block;
    width: 100%;
    height:800px;
    background-image: url(img/trip2.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
}