// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ransack

#bodysuser{
  margin-top: 130px;
}
#bodyeuser{
  margin-top: 130px;
}
.user-show{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-avatar{
    border-radius: 50%;
}
.suser-info-box{
  display: flex;
  align-items: center;
  // justify-content: space-around;
}
.avatar{
  display: block;
  margin: 0 30px;
}
.suer-info{
  display: flex;
  flex-direction: column;

}
.users-capture{
  // display: block;
  margin-bottom: 3px;
}

li{
  list-style: none;
}
.lpost-box{
  display: flex;
  margin: 5px auto;
}
.lpost{
  margin-right: 10px;
}
.lposts{
  border-radius: 2%;
}