// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ransack


.user-avatar{
    border-radius: 50%;
}
.suser-box{
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 144px;
}
.avatar{
  margin: 0 auto;
}
.suer-info{
  display: flex;
  flex-direction: column;

}
.users-capture{
  // display: block;
  margin-bottom: 3px;
}

li{
  list-style: none;
}
.lpost-box{
  display: flex;
  margin: 5px auto;
}
.lpost{
  margin-right: 10px;
}
.lposts{
  border-radius: 2%;
}

.user-name{
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.user-edit{
  margin-left: 5px;
}
.follow_form{
  margin-left: 5px;
}